body {
    background-color: #f3f3f3;
}

.contents {
    width: 640px;
    margin: 0 auto;
}
.title {
    margin-left: 24px;
}

#output {
    height: 800px;
    overflow: auto;
    background-color: #fafcff;
    padding: 0 24px;
}
.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.header-item {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 24px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
}

.hedaer-prof {
    width: 32px;
    border-radius: 64px;
    margin-right: 8px;
}

#uname {
    font-size: 12px;
}
    
.input-area {
    width: 640px;
    margin: 0 auto;
    position: fixed;
    display: flex;
    padding: 16px;
    background-color: #ffffff;
    box-sizing: border-box;;
    border-top: 2px solid #e6ebf7;
}

.input-text{
    width: 100%;
    height: 48px;
    border-radius: 64px;
    margin-right: 16px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    padding: 0 16px;
}

.button {
    width: 240px;
    font-size: 20px;
    border-radius: 64px;
    background-color: #0652ff;
    color: #fff;
    border: none;
}


/*吹き出し*/
.layout-msg-l,
.layout-msg-r{
    margin: 30px 0;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start; /*縦位置を上揃え*/
    /*   align-items: center; */ /*縦位置を真ん中揃え*/
}
.layout-msg-r{
    justify-content: flex-end;
}
.img img{
    width: 64px; /*任意のサイズ*/
    height: auto;
    border-radius: 64px;
}
.layout-msg-r .img{
    margin-left:25px;
}
.layout-msg-l .img{
    margin-right:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layout-msg-r .img{
    order:2 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
    }
.says {
    max-width:500px; /*最大幅は任意*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: #ececec;/*色は任意*/
    box-sizing:border-box;
    margin:0 0 16px 0 !important;
    line-height:1.5;
    /*   align-items: center; */
}
.says p{
    margin:8px 0 0 !important; 
}
.says p:first-child{
    margin-top:0 !important;
}
.says:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    /*   margin-top:-3px;  */
}
.layout-msg-l .says:after {
    left: -26px;
    border-right: 22px solid #ececec;
}
.layout-msg-r .says:after {
    right: -26px;
    border-left: 22px solid #ececec;
}

.layout-btn-msg-r {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}